

#root{
main{
    border-bottom: 1px solid #eee;
}
    .top_sec{
@include flex_item_column;
 align-items: flex-start;
        width: 100%;
        height: 320px;
        padding: 0 15vw;

        h2{
            font-size: 34px;
            font-weight: 600;
            line-height: 50px;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
        }

        button{
            background-color: $main;
            margin-top: 22px;
           padding: 8px 12px;
           color:#fff;
           border-radius: 4px;
           font-size: 14px;
           font-weight: 600;
        }

        &.fleamarket{
            background-color: #fff1aa;
        }
        &.near{
            background-color: #f7f1eb;
        }
        &.jobs{
           background-color:  #ffe2d2;
        }
        &.realty{
            background-color: #d2edfa;
        }
        &.car{
            background-color: #c2effa;
        }
    }

    .main_sec{
        h2{
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            margin: 64px 0 50px;
        }

        &.fleamarket{
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            //width: 840px;
            width: 700px;
            margin: 0 auto;

            li{
                width: 200px;
                height: 300px;

                img{
                    border-radius: 15px;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 12px;

                }
                h5{
                    font-size: 17px;
                      font-weight: 300;
                      margin-bottom: 4px;
                     padding: 0px 4px;
                }
                p{
                padding: 0px 4px;
&:nth-child(3){
    font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
}

&:nth-child(4){
font-size: 14px;
}
                }
            }
        }
      }
    }
}