

#root{
main{
    border-bottom: 1px solid #eee;
}
    .top_sec{
@include flex_item_column;
 align-items: flex-start;
        width: 100%;
        height: 320px;
        padding: 0 15vw;

        h2{
            font-size: 34px;
            font-weight: 600;
            line-height: 50px;
            margin-bottom: 20px;
        }
        p{
            font-size: 18px;
            font-weight: 300;
            line-height: 26px;
        }

        button{
            background-color: $main;
            margin-top: 22px;
           padding: 8px 12px;
           color:#fff;
           border-radius: 4px;
           font-size: 14px;
           font-weight: 600;
        }

        &.fleamarket{
            background-color: #fff1aa;
        }
        &.near{
            background-color: #f7f1eb;
        }
        &.jobs{
           background-color:  #ffe2d2;
        }
        &.realty{
            background-color: #d2edfa;
        }
        &.car{
            background-color: #c2effa;
        }
    }

    .main_sec{
        h2{
            font-size: 32px;
            font-weight: 600;
            text-align: center;
            margin: 64px 0 50px;
        }

        &.fleamarket{
        ul{
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
            //width: 840px;
            width: 700px;
            margin: 0 auto;

            li{
                width: 200px;
                height: 300px;

                img{
                    border-radius: 15px;
                    width: 200px;
                    height: 200px;
                    margin-bottom: 12px;

                }
                h5{
                    font-size: 17px;
                      font-weight: 300;
                      margin-bottom: 4px;
                     padding: 0px 4px;
                }
                p{
                padding: 0px 4px;
&:nth-child(3){
    font-size: 17px;
  font-weight: 600;
  margin-bottom: 8px;
}

&:nth-child(4){
font-size: 14px;
}
                }
            }
        }
      }

      &.car{
width: 768px;
margin: 64px auto 80px;
        h2{
            font-size: 26px;
            font-weight: 600;
            text-align: left;
            margin: 64px 0 50px;
        }

     ul{
            display: flex;
            flex-wrap: wrap;
            gap: 36px;
            margin: 0 auto;
            width: 100%;

            li{
                display: flex;
                width: calc(50% - 18px);

                img{
                    border-radius: 8px;
                    width: 108px;
                    height: 108px;
                    margin-right:16px;
                }

                div{
                    display: flex;
                    flex-direction: column;
                    gap:12px;

                    h5{
                        font-size: 18.5px;
                        line-height: 22px;
                    }

                    p{
                        &:nth-child(2){
                            color: #999;
                            font-weight: 300;
                            font-size: 14px;
                        }
                        &:nth-child(3){
                            font-size: 17px;
                            font-weight: 700;
                        }
                    }
                }
         
            }
        }

        .middle_box{
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #009ceb1a;
            width: 100%;
            border-radius: 4px;
            padding: 28px 32px;
margin: 44px 0px 64px;
            p{
                font-size: 19px;
                font-weight: 600;
                line-height: 28px;
            }

            button{
                background-color: $main;
padding: 12px 10px;
color: #fff;
border-radius: 4px;
font-size: 14px;
            }
        }
      }

    }
}